.x-grid-cell-invalid,
.x-grid-row-invalid td {
    background-color: rgba($danger-color, .2) !important;
}

.x-grid-item-container {
    border: 1px solid $grid-body-border-color;
    border-width: 1px 0;
}